.app__title, .app__title:hover{
  text-decoration: none;
  color:rgb(7, 153, 172)
}

.menu__item{
  list-style-type: none;
}


@media (max-width: 768px) {
  .menu__container {
      width: auto !important;
      overflow-x: scroll !important;
  }
}